@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a href="#" onclick="RunExe()">SQLite</a></p>
    <a href="YourApplication:12333">SQLite</a>
    <script>

        function RunExe() {
            var url = "ArchivePrint://12333 fsffnowbe theoisbg;;;;;hisofnoisnbfsbgisngbbjsbgu ifsnuibfgsguiginjsfd\nsofosebfibesofn\onobsjoinfoisbeobseguobeu bgnkngjkfbsjkgbsjlbbgklbgskldbn";

           // window.open(url);
            window.location.href = url;
        }
    </script>
</div>
